.Navbar{
    width:100vw;
    height:50px;
    background-color: black;
}
.button1{
    background-color: blueviolet;
    padding: 10px;
    border-radius: 10px;
    font-size: large;
    margin-left: 1400px;
    color: azure;
}